header {
  background: #0000B8;
  padding: 5px;
  text-align: center;
  font-size: 25px;
  color : #fff;
}

main {
  background:##0000ff;
}
body {
  font-size: 10px;
  margin-bottom: 5px;
  outline: dotted 5px orange;
}

footer {
  background: #0000B8;
  padding: 5px;
}
